// sizes
$xs: 480px;
$sm: 768px;
$md: 1010px;
$lg: 1200px;

// fonts
$font: 'Open Sans', sans-serif;
$monoFont: 'Consolas', monospace;

// context colors
/*$wsBg: #1E6290;*/
$wsBg: #515171;
$wsFg: #000000;
$frameBg: #AEAAAE;
$frameFg: #000000;

$contentBg: #ffffff;
$contentFg: #000000;

$linkFg: #0C283B;
$linkHlFg: #113954;

$pmargin: 20px;