<div class="frame editor-frame CodeEdit-app" j:import="css/code-editor.css;dist/code-editor.js">

    <div class="frame-header">
        <div class="frame-header-actions">
            <a href="" data-action="toggle-menu"></a>
        </div>
        <div class="frame-header-title">
            Code Editor
        </div>
        <div class="frame-header-actions">
            <a href="" data-action="close"></a>
        </div>
    </div>

    <div class="frame-content">
        <textarea></textarea>
    </div>
</div>

<div class="tool-frame" data-name="buffers">
    <div class="tool-frame-header">
        Buffers
    </div>
    <div class="tool-frame-content">
        <div class="files-panel">
            <div class="files-list">
                
            </div>
        </div>
    </div>
</div>