<div class="frame editor-frame Edit-app" j:import="css/editor.css;dist/editor.js">

    <div class="frame-head">
        <div class="frame-actions">
            <a href="" data-action="toggle-menu"></a>
        </div>
        <div class="frame-title">
            Editor
        </div>
        <div class="frame-actions">
            <a href="" data-action="close"></a>
        </div>
    </div>

    <div class="frame-body">
        <div class="frame-content">
            <textarea></textarea>
        </div>
    </div>
</div>

<div class="tool-frame" data-name="buffers">
    <div class="tool-frame-head">
        Buffers
    </div>
    <div class="tool-frame-body">
        <div class="files-panel">
            <div class="files-list">
                
            </div>
        </div>
    </div>
</div>
<div class="dock-frame">
    <img j:src="asset:img/icons/32/editor.png" />
</div>