<div class="frame Files-app" j:import="css/files.css;dist/files.js">

    <div class="frame-head">
        <div class="frame-actions">
            <a href="" data-action="toggle-menu"></a>
        </div>
        <div class="frame-title">
            Files
        </div>
    </div>

    <div class="frame-body">
        <div class="frame-toolbar">
            <div class="button-group">
                <button data-action="back" title="Go back">
                    <span class="icon icon-go-back"></span>
                </button>
                <button data-action="up" title="Go to parent">
                    <span class="icon icon-go-up"></span>
                </button>
                <button data-action="home" title="Go to root">
                    <span class="icon icon-go-home"></span>
                </button>
            </div>

            <span class="frame-toolbar-separator"></span>

            <div class="button-group">
                <button data-action="new-file" title="Create file">
                    <span class="icon icon-edit-new-file"></span>
                </button>
                <button data-action="upload" title="Upload file">
                    <span class="icon icon-edit-upload"></span>
                </button>
            </div>

            <span class="frame-toolbar-separator"></span>

            <div class="button-group">
                <button data-action="cut" title="Move selection to shelf">
                    <span class="icon icon-edit-cut"></span>
                </button>
                <button data-action="copy" title="Copy selection to shelf">
                    <span class="icon icon-edit-copy"></span>
                </button>
                <button data-action="paste" title="Place item from shelf">
                    <span class="icon icon-edit-paste"></span>
                </button>
                <button data-action="rename" title="Rename">
                    <span class="icon icon-edit-rename"></span>
                </button>
                <button data-action="trash" title="Delete selection">
                    <span class="icon icon-edit-trash"></span>
                </button>
            </div>
        </div>

        <div class="frame-content frame-content-flex">
            <div class="files-columns">
            </div>
            <div class="files-shelf">
                <div class="files-grid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dock-frame">
    <img j:src="asset:img/icons/32/files.png" />
</div>
