<div class="frame">

    <div class="frame-header">
        Builder
    </div>

    <div class="frame-content">
        <form>
            <div class="field">
                <label>Destination</label>
                <input type="text" />
            </div>
            <div class="field">
                <label>Radio list</label>
                <ul class="checkbox-list">
                    <li><label><input type="radio" name="radio" />
                            Option 1</label></li>
                    <li><label><input type="radio" name="radio" />
                            Option 2</label></li>
                    <li><label><input type="radio" name="radio" />
                            Option 3</label></li>
                </ul>
            </div>
        <input type="submit" value="Build" />
        </form>
    </div>
</div>