<div class="frame" j:import="dist/build.js">

    <div class="frame-header">
        <div class="frame-header-actions">
            <a href="" data-action="toggle-menu"></a>
        </div>
        <div class="frame-header-title">
            Builder
        </div>
    </div>

    <div class="frame-content">
        <form id="build" data-token="{$token}" >
<!--            <div class="field">
                <label>Destination</label>
                <input type="text" />
            </div>-->
        <input type="submit" value="Build" data-action="build" disabled="{isset($inProgress)}?" />
        <input type="submit" value="Cancel" data-action="cancel" disabled="{!isset($inProgress)}?"  />
        </form>
        
        
        <div class="progress primary active" data-progress="0" id="build-progress">
            <div class="progress-bar" style="width:0%;">0%</div>
            <div class="label" j:if="{isset($inProgress)}">Build in progress</div>
            <div class="label" j:else>Ready to build</div>
        </div>
        
        <textarea readonly="readonly" id="status-history"></textarea>
    </div>
</div>