<div class="frame" j:import="css/editor.css;dist/editor.js">

    <div j:assign="appmenu">
        <header>Editor</header>
        <nav>
            <ul>
                <li><a href="" class="app-action" data-action="new">New</a></li>
                <li><a href="" class="app-action" data-action="save">Save</a></li>
                <li><a j:href="{$fs->getFilesRoute()}">Close</a></li>
            </ul>
        </nav>
    </div>

    <div class="frame-header">
        <span class="actions-left">
            <a href="" data-action="toggle-menu"></a>
        </span>
        <span j:outertext="{$fs->getName()}">name goes here</span>
        &ndash; Editor
        <span class="actions">
            <a href="" data-action="close"></a>
        </span>
    </div>

    <div class="frame-content editor-frame">
        <textarea j:text="{$content}" id="editor" data-token="{$token}" data-path="{$fs->getPath()}">content goes here</textarea>
    </div>
</div>