<div class="xcme-frame" j:import="css/editor.css;dist/editor.js">

    <div j:assign="appmenu">
        <header>Editor</header>
        <nav>
            <ul>
                <li><a href="" class="app-action" data-action="new">New</a></li>
                <li><a href="" class="app-action" data-action="save">Save</a></li>
                <li><a href="#">Close</a></li>
            </ul>
        </nav>
    </div>

    <div class="xcme-frame-header">
        <span j:outertext="{$fs->getName()}">name goes here</span>
        &ndash; Editor
    </div>

    <div class="xcme-frame-content xcme-editor-frame">
        <textarea j:text="{$content}" id="editor">content goes here</textarea>
    </div>
</div>