<div class="frame" j:import="css/files.css;dist/files.js">

    <div j:assign="appmenu">
        <header>Editor</header>
        <nav>
            <ul>
                <li><a href="#" data-action="new-folder">New folder</a></li>
                <li><a href="#" data-action="new-file">New file</a></li>
            </ul>
        </nav>
    </div>

    <div class="frame-header">
        <div class="frame-header-actions">
            <a href="" data-action="toggle-menu"></a>
        </div>
        <div class="frame-header-title">
            <span class="header-path" j:text="{$fs->getPath()}">path goes here</span>
            &ndash; Files
        </div>
    </div>

    <div class="frame-toolbar">
        <div class="button-group">
            <button data-action="back" title="Go back">
                <span class="icon icon-go-back"></span>
            </button>
            <button data-action="foward">
                <span class="icon icon-go-forward"></span>
            </button>
            <button data-action="up">
                <span class="icon icon-go-up"></span>
            </button>
            <button data-action="home">
                <span class="icon icon-go-home"></span>
            </button>
        </div>

        <span class="frame-toolbar-separator"></span>

        <div class="button-group">
            <button data-action="new-folder">
                <span class="icon icon-edit-new-folder"></span>
            </button>
        </div>

        <span class="frame-toolbar-separator"></span>

        <div class="button-group">
            <button data-action="cut">
                <span class="icon icon-edit-cut"></span>
            </button>
            <button data-action="copy">
                <span class="icon icon-edit-copy"></span>
            </button>
            <button data-action="paste">
                <span class="icon icon-edit-paste"></span>
            </button>
            <button data-action="rename">
                <span class="icon icon-edit-rename"></span>
            </button>
            <button data-action="trash">
                <span class="icon icon-edit-trash"></span>
            </button>
        </div>
    </div>

    <div class="frame-content frame-content-flex">
        <div class="files-columns" data-token="{$token}">
            <div class="files-panel" data-path="{$fs->getPath()}">
                <div class="files-list">
                    <a j:foreach="{$fs as $file}" j:href="{$file}" j:text="{$file->getName()}" data-path="{$file->getPath()}" class="{'file file-' . $file->getType()}">File name goes here</a>
                </div>
            </div>
        </div>
        <div class="files-shelf">
            <div class="files-grid">
            </div>
        </div>
    </div>
</div>
