<div class="xcme-frame" j:import="dist/files.js">

    <div j:assign="appmenu">
        <header>Editor</header>
        <nav>
            <ul>
                <li><a href="#">Create folder</a></li>
                <li><a href="#">Create file</a></li>
                <li><a href="#">Close</a></li>
            </ul>
        </nav>
    </div>

    <div class="xcme-frame-header">
        <span j:outertext="{$fs->getVirtualPath()}">path goes here</span>
        &ndash; Files
    </div>

    <div class="xcme-frame-content">
        <select size="1" style="width:100px;">
            <option>Name</option>
            <option>Size</option>
        </select>
        <div class="xcme-files-panel">
            <ul>
                <li j:foreach="{$fs as $file}">
                    <a j:href="{$file}" j:text="{$file->getName()}" class="{$file->getType()}">File name goes here</a>
                </li>
            </ul>
        </div>
    </div>
</div>
