<!DOCTYPE html>
<html j:nolayout>
    <head>
        <meta charset="UTF-8">
        <title>BlogSTEP</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta j:block="meta" />

        <link j:imports="css/main.css" />

    </head>
    <body>

        <div class="frame login-frame">
            <div class="frame-header">Not found</div>
            <div class="frame-content">
                The requested file does not exist.
            </div>
        </div>

    </body>
</html>