<div class="frame">

    <div j:assign="appmenu">
        <header>Player</header>
        <nav>
            <ul>
                <li><a data-action="close">Close</a></li>
            </ul>
        </nav>
    </div>

    <div class="frame-header">
        <div class="frame-header-actions">
            <a href="" data-action="toggle-menu"></a>
        </div>
        <div class="frame-header-title">
            <span j:innertext="{$video->getName()}">name goes here</span>
            &ndash; Player
        </div>
        <div class="frame-header-actions">
            <a href="" data-action="close"></a>
        </div>
    </div>

    <div class="frame-content">
        <div id="player">
            <video j:src="{['snippet' => 'Api\Download', 'query' => ['path' => $video->getPath()]]}" autoplay controls loop data-path="{$video->getPath()}" >
            </video>
        </div>
    </div>
</div>