<div class="frame" j:import="dist/terminal.js">

    <div j:assign="appmenu">
        <header>Terminal</header>
        <nav>
            <ul>
                <li><a j:href="snippet:Files" data-action="close">Close</a></li>
            </ul>
        </nav>
    </div>

    <div class="frame-header">
        <div class="frame-header-actions">
            <a href="" data-action="toggle-menu"></a>
        </div>
        <div class="frame-header-title">
            Terminal
        </div>
        <div class="frame-header-actions">
            <a href="" data-action="close"></a>
        </div>
    </div>

    <div class="frame-content frame-content-flex">
        <textarea id="terminal" class="stretch" data-token="{$token}" data-path="{$fs->getPath()}"></textarea>
    </div>
</div>