<div class="frame" j:import="dist/terminal.js">

    <div j:assign="appmenu">
        <header>Terminal</header>
        <nav>
            <ul>
                <li><a j:href="snippet:Files" data-action="close">Close</a></li>
            </ul>
        </nav>
    </div>

    <div class="frame-header">
        Terminal
        <span class="actions">
            <a href="" data-action="close"></a>
        </span>
    </div>

    <div class="frame-content">
        <textarea id="terminal" data-token="{$token}"></textarea>
    </div>
</div>