<!DOCTYPE html>
<html j:nolayout>
    <head>
        <meta charset="UTF-8">
        <title>TEXTSTEP</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta j:block="meta" />

        <link rel="shortcut icon" j:href="asset:apps/workspace.app/icon.ico" />
        <link j:imports="themes/default/theme.css;icons/default/icons.css;apps/workspace.app/main.js" />

    </head>
    <body data-server="{$this->link('path:api')}" data-run="{$run}" data-args="{$args}">

        <aside id="menu">
            <div id="workspace-menu">
                <header>
                    Workspace (<span class="username">username</span>)
                    <span class="version" j:innertext="{'v' . Blogstep\Main::VERSION}">version</span>
                </header>
                <nav>
                    <ul>
                        <li><button data-action="file-system">File system</button></li>
                        <li><button data-action="builder">Builder</button></li>
                        <li><button data-action="terminal">Terminal</button></li>
                        <li><button data-action="control-panel">Control panel</button></li>
                        <li><button data-action="switch-user">Switch user</button></li>
                        <li><button data-action="logout">Log out</button></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div id="dock">
        </div>

        <main>
        </main>

        <script j:imports />
    </body>
</html>
