<!DOCTYPE html>
<html j:nolayout>
    <head>
        <meta charset="UTF-8">
        <title>BLOGSTEP</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta j:block="meta" />

        <link rel="shortcut icon" j:href="asset:apps/workspace.app/icon.ico" />
        <link j:imports="themes/default/theme.css;icons/default/icons.css;apps/workspace.app/main.js" />

    </head>
    <body data-path="{$this->link('')}" data-run="{$run}" data-args="{$args}">

        <aside id="menu">
            <div id="workspace-menu">
                <header>
                    Workspace (<span class="username">username</span>)
                    <span class="version" j:innertext="{'v' . Blogstep\Main::VERSION}">version</span>
                </header>
                <nav>
                    <ul>
                        <li><button data-action="file-system">File system</button></li>
                        <li><button data-action="builder">Builder</button></li>
                        <li><button data-action="terminal">Terminal</button></li>
                        <li><button data-action="control-panel">Control panel</button></li>
                        <li><button data-action="switch-user">Switch user</button></li>
                        <li><button data-action="logout">Log out</button></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div id="dock">
        </div>

        <main>
        </main>

        <div id="login-overlay">
            <div class="frame" id="login-frame">
                <div class="frame-head">
                    <div class="frame-title">Log in</div>
                </div>
                <div class="frame-body">
                    <div class="frame-content">
                        <form method="post" id="login">
                            <div class="field">
                                <label for="login-username">Username</label>
                                <input type="text" name="username" id="login-username" />
                            </div>
                            <div class="field">
                                <label for="login-password">Password</label>
                                <input type="password" name="password" id="login-password" />
                            </div>
                            <div class="field remember">
                                <input type="checkbox" name="remember[remember]" value="remember" id="login-remember" />
                                <label for="login-remember">Remember</label>
                            </div>
                            <div class="buttons">
                                <button type="submit" title="Log in">
                                    <span class="icon icon-unlock">
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script j:imports />
    </body>
</html>
