<!DOCTYPE html>
<html j:nolayout>
    <head>
        <meta charset="UTF-8">
        <title>TEXTSTEP</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta j:block="meta" />

        <link rel="shortcut icon" j:href="asset:apps/workspace.app/icon.ico" />
        <link j:imports="themes/default/theme.css;icons/default/icons.css;apps/workspace.app/main.js" />

    </head>
    <body data-server="{$this->link('path:api')}" data-run="{$run}" data-args="{$args}">
        <script j:imports />
    </body>
</html>
