@import "../modules/all";

// sizes
$xs: 480px;
$sm: 768px;
$md: 1010px;
$lg: 1200px;

// fonts
$font: 'Open Sans', sans-serif;
$monoFont: 'Consolas', monospace;

$frameBg: #AEAAAE;
$frameFg: #000000;

$contentBg: #ffffff;
$contentFg: #000000;

$linkFg: #0C283B;
$linkHlFg: #113954;

$pmargin: 20px;
