.block {
  background-color: $blockBg;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 1px 1px 2px $blockShadow;
  & > .block-header  {
    padding: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: $blockHeaderFg;
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      font-size: inherit;
      margin: 0;
      font-weight: inherit;
      & > small {
        text-transform: none;
        font-weight: normal;
        font-size: 0.9em;
        margin-left: 8px;
        color: $blockHeaderFgSmall;
      }
    }

    & > .block-toolbar {
      text-transform: none;
      font-weight: normal;
      float: right;
      color: $blockToolbarFg;
      & > a {
        margin-left: 8px;
        &, &:link, &:visited, &:active {
          color: inherit;
        }
        &:hover {
          color: $primary;
          text-decoration: none;
        }
        & > .label {
          margin-left: 8px;
          font-size: 0.9em;
        }
      }
    }
  }
  & > .block-content {
    padding: 16px;
    & > *:last-child {
      margin-bottom: 0;
    }

    .block {
      background-color: $blockSubBg;
      box-shadow: 1px 1px 2px $blockSubShadow;
      & > .block-footer {
        border-color: #eee;
      }
    }
  }
  & > .block-footer {
    border-top: 1px solid $blockFooterBorder;
    color: $blockFooterFg;
    padding: 16px;
    text-align: right;
  }
  &.block-default,
  &.block-muted,
  &.block-primary,
  &.block-dark,
  &.block-light,
  &.block-info,
  &.block-success,
  &.block-warning,
  &.block-error {
    & > .block-header {
      color: $contextFg;
      h1, h2, h3, h4, h5, h6 {
        & > small {
          color: darken($contextFg, 15%);
        }
      }
      & > .block-toolbar {
        color: rgba(255, 255, 255, 0.4);
        & > a:hover {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  &.block-default > .block-header,
  &.block-muted > .block-header {
    background-color: $grey;
  }

  &.block-primary > .block-header {
    background-color: $primary;
  }

  &.block-light > .block-header {
    background-color: $light;
  }

  &.block-dark > .block-header {
    background-color: $dark;
  }

  &.block-info > .block-header {
    background-color: $info;
  }

  &.block-success > .block-header {
    background-color: $success;
  }

  &.block-warning > .block-header {
    background-color: $warning;
  }

  &.block-error > .block-header {
    background-color: $error;
  }

  &.block-draggable {
    & > .block-header {
      cursor: move;
    }
  }

  &.block-dragging {
    outline: 1px solid $blockDraggingBorder;
  }

  &.block-accept {
    outline: 1px solid $blockAcceptBorder;
  }

  &.block-collapse {
    & > .block-content {
      display: none;
    }
    & > .block-footer {
      display: none;
    }
  }
}

.block-container {
  & > h2 {
    font-size: 1.0em;
    text-transform: uppercase;
    font-weight: bold;
    color: $blockContainerFg;
    & > small {
      font-size: 0.9em;
    }
    * {
      text-transform: none;
    }
  }
}
