$buttons: '.button, button, input[type=button], input[type=reset], input[type=submit]';

#{$buttons} {
  @include button;
}

.button-group {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
  #{$buttons} {
    float: left;
    margin-left: -1px;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      z-index: 1;
    }
    &:hover, &:active {
      z-index: 2;
    }
    &.active, &:active {
      box-shadow: inset 0 4px 5px 2px rgba(0, 0, 0, 0.15);
      &:first-child {
        box-shadow: inset -2px 4px 5px 2px rgba(0, 0, 0, 0.15);
      }
      &:last-child {
        box-shadow: inset 2px 4px 5px 2px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
