// sizes
$xs: 480px;
$sm: 768px;
$md: 1010px;
$lg: 1200px;

// fonts
$font: 'Open Sans', sans-serif;
$monoFont: 'Consolas', monospace;

// context colors
$primary: #2272cc;
$dark: darken($primary, 25%);
$light: lighten($primary, 25%);
$grey: #727272;
$info: #22aacc;
$success: #22cc22;
$warning: #cc7222;
$error: #cc2222;
$contextFg: #fff;

// colors
$primaryBg: $primary;
$primaryFg: #fff;

$headerBg: $primaryBg;
$headerFg: $primaryFg;
$headerHlBg: rgba(0, 0, 0, 0.15);
$headerHlFg: $headerFg;
$navBg: #d1d1d1;
$navFg: #444;
$navHlBg: #ddd;
$navHlFg: $primaryBg;
$navCuBg: $primaryBg;
$navCuFg: $primaryFg;
$navDisBg: #f1f1f1;
$navDisFg: #999;
$mainBg: #f1f1f1;
$mainFg: #333;
$subMenuBg: #c1c1c1;
$subMenuFg: #333;

// typography
$linkFg: $primary;
$linkHlFg: lighten($primary, 25%);

$codeBg: $navBg;
$codeFg: $warning;

// blocks

$blockBg: #fff;
$blockShadow: darken($mainBg, 10%);
$blockHeaderFg: #727272;
$blockHeaderFgSmall: #939393;
$blockFooterFg: #727272;
$blockFooterBorder: #ddd;

$blockToolbarFg: rgba(0,0,0,0.4);

$blockSubBg: darken($blockBg, 3%);
$blockSubShadow: darken($blockBg, 10%);

$blockAcceptBorder: darken($mainBg, 50%);
$blockDraggingBorder: darken($mainBg, 30%);

$blockContainerFg: #727272;

$mainHeaderBg: $blockBg;
$mainHeaderFg: #333;
$mainHeaderShadow: $blockShadow;
// lengths

$pmargin: 20px;
