@mixin flash-color($color) {
  border-color: $color;
  h1, h2, h2, h3, h4, h5, h6, strong {
    color: $color;
  }
  &:before {
    color: $color;
  }
}

.flash {
  background-color: #eee;
  font-size: 0.9em;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: 4px solid $grey;
  box-shadow: 1px 2px 1px darken($mainBg, 10%);

  strong:first-child {
    margin-right: 10px;
  }
  &:before {
    color: $grey;
  }
  h1, h2, h2, h3, h4, h5, h6, strong {
    color: $grey;
    font-size: 1.1em;
    font-weight: 600;
  }

  &.flash-primary {
    @include flash-color($primary);
  }
  &.flash-light {
    @include flash-color($light);
  }
  &.flash-dark {
    @include flash-color($dark);
  }
  &.flash-info {
    @include flash-color($info);
  }
  &.flash-success {
    @include flash-color($success);
  }
  &.flash-warning {
    @include flash-color($warning);
  }
  &.flash-error {
    @include flash-color($error);
  }
}
