header {
  background-color: $headerBg;
  position: absolute;
  padding: 0 12px 0 12px;
  color: $headerFg;
  width: 100%;
  z-index: 1000;
  height: 32px;

  & > * {
    height: 32px;
    vertical-align: top;
  }
  h1 {
    font-weight: normal;
    font-size: 1.4em;
    float: left;
    line-height: 32px;

    a {
      &, &:link, &:active, &:visited, &:hover {
        color: inherit;
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media screen and (min-width: $sm) {
    padding-right: 24px;
    padding-left: 24px;
  }
}

#main {
  background-color: $mainBg;
  position: relative;
  min-height: 100%;
  padding: 48px 12px 37px 12px;

  #main-container > h1:first-child {
    background-color: $mainHeaderBg;
    color: $mainHeaderFg;
    box-shadow: 1px 1px 2px $mainHeaderShadow;
    margin: -48px -12px 24px -12px;
    padding: 56px 12px 24px 12px;
    font-size: 1.9em;

    & > small {
      display: block;
      margin-top: 8px;
      font-size: 0.6em;
    }
  }

  @media screen and (min-width: $sm) {
    padding-right: 24px;
    padding-left: 24px;

    #main-container > h1:first-child {
      margin-left: -24px;
      margin-right: -24px;
      padding-top: 48px;
      padding-left: 24px;
      padding-right: 24px;
      & > small {
        display: inline;
        margin-top: 0;
      }
    }
  }
  &:after {
    clear: left;
    display: table;
    content: ' ';
  }

}

footer {
  position: absolute;
  color: #666;
  height: 24px;
  border-top: 1px solid $navBg;
  line-height: 24px;
  width: 100%;
  font-size: 0.8em;
  text-align: right;
  padding: 0 12px 0 12px;
  margin-top: -25px;
  z-index: 1000;
  @media screen and (min-width: $sm) {
    padding-right: 24px;
    padding-left: 24px;
  }
  a {
    &, &:link, &:active, &:visited {
      color: inherit;
      text-decoration: underline;
    }
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}
