.progress {
  background-color: $blockBg;
  margin-bottom: $pmargin * 2 !important;
  height: 20px;
  position: relative;

  .progress-bar {
    background-color: $grey;
    line-height: 20px;
    font-size: 0.9em;
    height: 100%;
    min-width: 20px;
    color: $contextFg;
    text-align: right;
    padding-right: 8px;
    font-weight: 600;
    transition: width .5s ease, background-color .5s ease;
    overflow: hidden;
  }

  .label {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    margin: 4px 0;
    font-size: 0.95em;
    font-weight: 600;
  }

  &.active .progress-bar {
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255,0.3));
    background-size: 200% auto;
    background-position: 0 0;

    -webkit-animation: active-progress 1s ease infinite;
    -moz-animation: active-progress 1s ease infinite;
    animation: active-progress 1s ease infinite;

    @-webkit-keyframes active-progress {
        0%{background-position:0% 0}
        100%{background-position:-100% 0}
    }
    @-moz-keyframes active-progress {
        0%{background-position:0% 0}
        100%{background-position:-100% 0}
    }
    @keyframes active-progress { 
        0%{background-position:0% 0}
        100%{background-position:-100% 0}
    }
  }

  &.primary {
    .progress-bar {
      background-color: $primary;
    }
  }
  &.light {
    .progress-bar {
      background-color: $light;
    }
  }
  &.dark {
    .progress-bar {
      background-color: $dark;
    }
  }
  &.info {
    .progress-bar {
      background-color: $info;
    }
  }
  &.success {
    .progress-bar {
      background-color: $success;
    }
  }
  &.warning {
    .progress-bar {
      background-color: $warning;
    }
  }
  &.error {
    .progress-bar {
      background-color: $error;
    }
  }
}


.block .progress {
  background-color: darken($blockBg, 10%);
}
