
.block {
  table {
    tbody {
      td {
        border-color: darken($blockBg, 5%);
      }
      tr:hover td {
        background-color: darken($blockBg, 3%);
      }
    }
  }
  .table-scrollable {
    border-color: darken($blockBg, 5%);
  }
}

.table-scrollable {
  overflow-x: auto;
  margin-bottom: $pmargin;
  border: 1px solid darken($mainBg, 5%);

  table {
    margin-bottom: 0;
  }
}

table {
  margin: 0 0 $pmargin 0;
  border-spacing: 0;
  width: 100%;
  font-size: inherit;

  .col-xs {
    width: 10%;
  }
  
  .col-sm {
    width: 20%;
  }

  .col-md {
    width: 30%;
  }
  
  .col-lg {
    width: 40%;
  }

  thead, tfoot {
    tr {
      th {
        text-align: left;
        font-weight: 600;
      }
    }
  }
  td, th {
    padding: 12px 8px;
    vertical-align: top;

    &.non-essential {
      display: none;
    }
  }
  thead th, tfoot th {
    color: $navFg;
    text-transform: uppercase;
    vertical-align: bottom;
    a, label {
      &, &:link, &:visited {
        color: $dark;
        padding: 12px 8px 11px;
        margin: -12px -8px -13px;
        text-decoration: none;
        display: block;
        border-bottom: 2px solid transparent;
      }
      &:hover, &:active {
        color: $navHlFg;
        border-color: $navHlFg;
        text-decoration: none;
      }
    }
  }
  thead th {
    border-bottom: 1px solid $navDisFg;
  }
  tfoot th {
    border-top: 1px solid $navDisFg;
    a, label {
      border-bottom: none;
      border-top: 2px solid transparent;
      margin: -13px -8px -12px;
    }
  }
  tbody {
    tr {
      &:first-child td {
        border-top: 0;
      }
      td {
        border-top: 1px solid darken($mainBg, 5%);
      }
      &.muted, &.primary, &.light, &.dark, &.info, &.success, &.warning, &.error {
        color: $mainFg;
      }
      &.muted td {
        background-color: lighten($grey, 50%);
      }
      &.primary td {
        background-color: lighten($primary, 50%);
      }
      &.light td {
        background-color: lighten($light, 50%);
      }
      &.dark td {
        background-color: lighten($dark, 50%);
      }
      &.info td {
        background-color: lighten($info, 50%);
      }
      &.success td {
        background-color: lighten($success, 50%);
      }
      &.warning td {
        background-color: lighten($warning, 50%);
      }
      &.error td {
        background-color: lighten($error, 50%);
      }

      &:hover {
        td {
          background-color: darken($mainBg, 3%);
        }
        &.muted td {
          background-color: lighten($grey, 47%);
        }
        &.primary td {
          background-color: lighten($primary, 47%);
        }
        &.light td {
          background-color: lighten($light, 47%);
        }
        &.dark td {
          background-color: lighten($dark, 47%);
        }
        &.info td {
          background-color: lighten($info, 47%);
        }
        &.success td {
          background-color: lighten($success, 47%);
        }
        &.warning td {
          background-color: lighten($warning, 47%);
        }
        &.error td {
          background-color: lighten($error, 47%);
        }
      }
    }
  }
  &.table-va-top td {
    vertical-align: top;
  }
  &.table-va-middle td {
    vertical-align: middle;
  }
  &.table-va-bottom td {
    vertical-align: bottom;
  }
  td.main {
    dl.values {
      margin-top: 8px;
      font-size: 0.9em;
      dt, dd {
        width: auto;
        float: none;
        display: inline;
        padding: 0;
        text-align: left;
        margin: 0;
        margin-right: 12px;
        white-space: nowrap;
        &:last-child {
          margin-right: 0;
        }
      }
      dt {
        font-weight: 600;
        &:after {
          content: ':';
          display: inline;
        }
      }
      dd {
        &:after {
          display: none;
        }
      }
    }
    @media screen and (min-width: $sm) {
      .values {
        display: none;
      }
    }
  }
  .action-links {
    margin-top: 8px;

    a {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .selection {
    display: table-cell;
    width: 32px;
    label {
      padding: 12px 0 12px 8px;
      margin: -12px -8px;
      display: block;
      cursor: pointer;
    }
  }
  thead th.selection label {
    margin: -12px -8px -13px;
  }
  tfoot th.selection label {
    margin: -13px -8px -12px;
  }
  @media screen and (min-width: $sm) {
    td.non-essential, th.non-essential {
      display: table-cell;
    }
    .action-links {
      display: none;
    }
  }
}

