@import 'config';
@import 'mixins';
@import 'base';
@import 'icons';
@import 'typography';
@import 'buttons';
@import 'grid';
@import 'blocks';
@import 'progress';
@import 'layout';
@import 'form';
@import 'table';
@import 'flash';

@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600|Source+Code+Pro:400,700");

body.exception {
  background-color: #fff;
  header {
    background-color: #cc2222;
  }
  #sad {
    float: right;
    color: #cc2222;
    font-size: 120px;
    display: none;
    @media screen and (min-width: $xs) {
      display: block;
    }
  }
}

body.narrow {
  @media screen and (min-width: $sm) {
    background-color: $mainBg;
    text-align: center;
    & > * {
      text-align: left;
    }
    #main {
      padding-left: 0;
      padding-right: 0;
      max-width: $sm - 48px;
      margin: 0 auto;
    }
  }
}

table.trace {
  td, th {
    padding-top: 4px;
    padding-bottom: 4px;
    display: table-cell;
  }
}

.install-buttons {
  text-align: right;
  .primary {
    float: right;
    margin-left: 0.5em;
  }
}
